{% load i18n %}
{% with form_link="https://docs.google.com/forms/d/e/1FAIpQLScuid0XLU7HKoIyqeOpdbM-NGqol88WWIp84FznAVV28r9giA" %}

  <script>

con_div_ID++;
var con_ID=1;
var con_URL_ID=1;
if(isScriptDefined(loadIFrame)) { //add to the loadIFrame function for the new block
  loadIFrame = (function() {
    var cached_function = loadIFrame;
    return function() {
      countryIFrame();
      var result = cached_function.apply(this, arguments); // use .apply() to call it
      return result;
    };
})();
}
else {
  function loadIFrame(){
    countryIFrame();
  }
}

function countryIFrame(){
  con_ID++;
  var frame = document.createElement("iframe");
  frame.src="{{form_link}}/viewform?embedded=true"; frame.width="640"; frame.height="1646"; frame.frameBorder="0"; frame.marginHeight="0"; frame.marginWidth="0";
  frame.append('{% trans "Loading..." %}')
     var element = document.getElementById("con_iframe_div" + con_ID.toString(10));
      element.innerHTML="";
     element.appendChild(frame);
}


</script>

<div id="changeid">

  <div class="main-content__cta">
    <a class="main-content__cta__button__wrapper" href="{{form_link}}/viewform">
      <button class="main-content__cta__button">{% trans "Country Contact Form" %} <br/> {% trans "(via Google)" %} </button>
    </a>
  </div>

</div>
<script>
  //assign a unique id to each div
  var uniqueid = "con_iframe_div" + con_div_ID.toString(10);
  var div = document.getElementById("changeid");
  div.setAttribute("id", uniqueid);
</script>

{% endwith %}