<div class="main-content__cta">
    <a href="{{ self.button_link }}" class="main-content__cta__button__wrapper">
      <button class="main-content__cta__button">{{ self.button_text }}</button>
    </a>
</div>