{% load humanize %}
{% load i18n %}

<div class="declaration__stats">
  <h2 class="declaration__stats__header"><span class="declaration__stats__number">{{ signature_count|intcomma }}</span> <a href="/{{ LANGUAGE_CODE }}/signatures/">{% trans "Individual Signatures" %}</a></h2>

    <p class="declaration__stats__subheader">{% trans "from" %}</p>

    <h2 class="declaration__stats__header"><span class="declaration__stats__number">{{ country_count|intcomma }}</span> <a href="/{{ LANGUAGE_CODE }}/countries/">{% trans "Countries" %}</a></h2>

  <p class="declaration__stats__subheader">{% trans "in collaboration with" %}</p>

  <h2 class="declaration__stats__header"><span class="declaration__stats__number">{{ organization_count|intcomma }}</span> <a href="#supporting-orgs">{% trans "Organizations" context "in Declaration stats" %} </a></h2>

</div>
