{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load thumbnail %}

{% if org.confirmed %}
    <div class="supporting-org">
      {% if org.homepage %}
        <a href="{{ org.homepage }}" target="_blank">
      {% endif %}
        <img class="supporting-org__logo" src="{{ org.logo|thumbnail_url:'org-logo' }}">
      {% if org.homepage %}
        </a>
      {% endif %}
      <p class="supporting-org__name">{{ org.name }}</p>
      <div class="supporting-org__country">

      {% if org.country and org.international %}
        <p class="supporting-org__country">{{ org.country.name }} <br>({% trans "International" %})</p>

      {% else %}
        {% if org.country %}
          <p class="supporting-org__country">{{ org.country.name }}</p>
        {% endif %}
        {% if org.international %}
          <p class="supporting-org__country">{% trans "International" %}</p>
        {% endif %}

      {% endif %}

      </div>
    </div>
{% endif %}