{% load i18n %}

<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>

<script type=text/javascript>
    function validate() {
            if (document.getElementById('id_sign_for_organization').checked) {
                document.getElementById("id_org_homepage").required=true;
                document.getElementById("id_org_logo").required=true;
                document.getElementById("id_organization").required=true;
                document.getElementById("id_org_type").required=true;
            }
            else {
                document.getElementById("id_org_homepage").required=false;
                document.getElementById("id_org_logo").required=false;
                document.getElementById("id_organization").required=false;
                document.getElementById("id_org_type").required=false;
            }
        }
</script>

<h2 id="sign">{% trans "Sign the Declaration" %}</h2>
<p class="sign__subtitle">
    {% trans "We will send you an email to confirm your email address." %}
    <br>
    {% trans "(If you do not see the email, try checking your spam folder.)" %}
    <br>
    {% trans "After the confirmation, your name will be added to the public list of " %}
    <a href="/{{ LANGUAGE_CODE }}/signatures/">{% trans "signatories" %}</a>.
    <br> {% trans "By signing, you agree to our" %} <a href="/{{ LANGUAGE_CODE }}/privacy-policy/">{% trans "Privacy Policy" %}</a>.
</p>
<form enctype="multipart/form-data" action="/submit/signature/" method="POST" class="sign-form">
    {% csrf_token %}
    {{ form.media.js }}
    {{ form }}
    <div class="sign-button">
      <button class="sign-form__submit" type="submit" value="Submit">
          {% trans "Submit" %}
      </button>
    </div>

        {% if messages %}
    <div class="messages" id ="form-messages">
        {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="{{ message.tags }}">⚠️ {{ message }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</form>

<script type=text/javascript>
document.getElementById("id_sign_for_organization").setAttribute("onclick","validate();");
</script>
