<div class="social-media-icons">
    <span>—</span>
    {% if self.spinster_link %}
        <a href="{{ self.spinster_link }}"><img src="/static/images/spinster_logo.png"></a>
    {% endif %}
    {% if self.twitter_link %}
        <a href="{{ self.twitter_link }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    {% endif %}
    {% if self.instagram_link %}
        <a href="{{ self.instagram_link }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    {% endif %}
    {% if self.telegram_link %}
        <a href="{{ self.telegram_link }}"><i class="fa fa-telegram" aria-hidden="true"></i></a>
    {% endif %}
    {% if self.faceBook_link %}
        <a href="{{ self.faceBook_link }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> 
    {% endif %}
    {% if self.youTube_link %}
        <a href="{{ self.youTube_link }}"><i class="fa fa-youtube-square" aria-hidden="true"></i></a> 
    {% endif %}
    {% if self.patreon_link %}
        <a href="{{ self.patreon_link }}"><i class="fa fa-patreon" aria-hidden="true"></i></a>
    {% endif %}
    {% if self.website_link %}
        <a href="{{ self.website_link }}"><i class="fa fa-globe-w" aria-hidden="true"></i></a>
    {% endif %}
    {% if self.goFundMe_link %}
        <a href="{{ self.goFundMe_link }}"><img src="/static/images/gofundme_logo.png"></a>
    {% endif %}
    {% if self.crowdJustice_link %}
        <a href="{{ self.crowdJustice_link }}"><img src="/static/images/crowdjustice_logo.png"></a>
    {% endif %}
    <span>—</span>
</div>
