{% load i18n %}

{% with form_link="https://docs.google.com/forms/d/1AqP-OGtH3aVo9gASR5yk_7xWlZQXBXYxylb8tOvB39k" %}

 <script>

vol_div_ID++;
var vol_ID=1;
var vol_URL_ID=1;

if(isScriptDefined(loadIFrame)) { //add to the loadIFrame function for the new block
  loadIFrame = (function() {
    var cached_function = loadIFrame;
    return function() {
      volunteerIFrame();
      var result = cached_function.apply(this, arguments); // use .apply() to call it
      return result;
    };
})();
}
else {
  function loadIFrame(){
    volunteerIFrame();
  }
}

function volunteerIFrame(){
  vol_ID++;
  var frame = document.createElement("iframe");
  frame.src="{{form_link}}/viewform?embedded=true"; frame.width="640"; frame.height="2092"; frame.frameBorder="0"; frame.marginHeight="0"; frame.marginWidth="0";
  frame.append('{% trans "Loading..." %}')
  var element = document.getElementById("vol_iframe_div" + vol_ID.toString(10));
  element.innerHTML="";
  element.appendChild(frame);
}


</script>

<div id="changeid">

  <div class="main-content__cta">
    <a class="main-content__cta__button__wrapper" href="{{form_link}}/viewform">
      <button class="main-content__cta__button">{% trans "Volunteer Form" %} <br/> {% trans "(via Google)" %} </button>
    </a>
  </div>

</div>
<script>
  //assign a unique id to each div
  var uniqueid = "vol_iframe_div" + vol_div_ID.toString(10);
  var div = document.getElementById("changeid");
  div.setAttribute("id", uniqueid);
</script>

{% endwith %}
