{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}


{% block content %}
  <link rel="stylesheet" href="/static/css/jquery-jvectormap-2.0.5.css" type="text/css" media="screen"/>
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/jquery-jvectormap-2.0.5.min.js"></script>
  <script src="/static/js/jquery-jvectormap-world-mill-en.js"></script>

<div class="main-content main-content--signature-page">

  <h3 class="country-page__header">{% trans "Citizens of" %} {{country_count}} {% trans "countries have signed the Declaration:" %}</h3>

  <div class="country-page__container">

  <div id="country-page__world-map"></div>

<script>
$(function(){

  var signatures = {
    {% for country, number in signatures_per_country.items %}
      "{{country}}": {{number}},
    {% endfor %}
  }

  $('#country-page__world-map').vectorMap({
    map: 'world_mill_en',
    backgroundColor: '#FBF6FB',
    zoomOnScroll:false,
    series: {
      regions: [{
        values: signatures,
        scale: ['#FFFEFF', '#990099'],
        normalizeFunction: 'polynomial'
      }]
    },
    regionStyle: {
      initial: {
      stroke: 'black',
      "stroke-width": 0.5,
      "stroke-opacity": 0.5
      },
    },
    onRegionTipShow: function(e, el, code){
      el.html(signatures[code]+' {% trans "signatures" context "As in, the number of signatures" %}');
    }
  });
});

</script>


    <div class="country-page__countries-list">
    {% for country in countries %}

      <div class="country-page__list-item">
        <img class="country-page__list-item__flag" src="{{ country.flag }}">
        <p>{{ country.name }}</p>
      </div>
    {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
