{% extends "modeladmin/index.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}

  <footer style="width: calc(100% - 300px);">
    <ul>
      <li class="actions">
        <a href="{% url 'organizations_export_csv' country=request.GET.country__exact international=request.GET.international__exact confirmed=request.GET.email_confirmed__exact permission_support=request.GET.permission_support__exact permission_logo=request.GET.permission_logo__exact type=request.GET.type__exact %}"
           class="button bicolor icon icon-download" title="{% trans 'Download organization data as CSV' %}">{% trans 'Download data' %}</a>
      </li>
      <li class="meta">
        <p>{% trans "The organizations will be exported to a spreadsheet file (*.csv)" %}</p>
      </li>
    </ul>
  </footer>
{% endblock %}
