{% load i18n %}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8"/>
    <title>{{ error_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Vollkorn:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/whrc.css" />
    <link rel="stylesheet" href="/static/css/errors.css" />
</head>

<body>

<section class="container header">
    <div class="error-description">
        <h1>{{ error_code }}</h1>
        <img src="{{ settings.whrc.UploadSiteLogo.transparent_site_logo.url }}" style="max-height: 60px;">
        <h2> {{ error_description }} </h2>
        <h3><a  class="header__nav__item" href="/"> {% trans "Return to the main page" %} </a> </h3>
    </div>
</section>

</body>
</html>
