{% extends "modeladmin/index.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}

  {% if perms.whrc.can_download_signatures %}

  <footer style="width: calc(100% - 300px);">
    <ul>
      <li class="actions">
        <a
            href="{% url 'signatures_export_csv' country=request.GET.country__exact subscribed=request.GET.subscribe_to_emails__exact confirmed=request.GET.email_confirmed__exact %}"
            class="button bicolor icon icon-download"
            title="{% trans 'Download signature data as CSV' %}">{% trans 'Download data' %}
        </a>
      </li>
      <li class="meta">
        <p>{% trans "The signatures will be exported to a spreadsheet file (*.csv)" %}</p>
      </li>
    </ul>
  </footer>

  {% endif %}
{% endblock %}

